# Environment Variables
GOOGLE_DRIVE_FILE_ID=1YDd8tLViu2nzCuoCZSR1XRC9SxbmpgMC
# Điền nội dung JSON của Service Account (dưới dạng JSON string hoặc 1 dòng minify)
GOOGLE_SERVICE_ACCOUNT_JSON=
# Danh sách email giáo viên được phép (cách nhau dấu phẩy)
ALLOWED_EMAILS=letambp2003@gmail.com,teacher1@example.com,admin@example.com
# Hoặc tên miền được phép
ALLOWED_DOMAIN=quangtrung.edu.vn
# Mã bảo mật JWT Session
SESSION_SECRET=super_secret_jwt_key_8a6_quang_trung_da_lat
# Mật khẩu truy cập giáo viên
TEACHER_ACCESS_PIN=Antam2025@
# Gemini API Key (để sử dụng mô hình Gemini Flash phân tích học sinh)
GEMINI_API_KEY=

# Firebase Cloud Firestore (Lưu trữ ghi chú & Chat Realtime trên Vercel)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
